

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

/* my changes */
@import "0-tools/vars";

@import "1-base/typeography";
@import "1-base/img";
@import "1-base/buttons";
@import "1-base/link";

@import "3-layout/grid";
@import "3-layout/header";
@import "3-layout/footer";
@import "3-layout/global-nav";

@import "2-modules/socialsharing";
@import "2-modules/mailinglist";

@import "4-pages/home/hero-shot";
@import "4-pages/home/work";
@import "4-pages/home/services";
@import "4-pages/home/skills";
