section.hero-shot.container-fluid
  .container
    .row.space-top.space-bottom.double
      .text-center.col-md-4
        img.img-fluid(src='/img/roger.jpg', alt="Roger Ehmpke's photo", style='border-radius: 50%;border-width: 5px;border-style: solid;border-color: white;margin:0 auto;')
      .col-md-8
        h2 Frontend Developer
        p
          | Focused on the field of frontend web development, I live in JavaScript and open source technologies such as Express, Node.js, WebPack and Jekyll. My goal is to obtain remote web development opportunities and/or part-time/contract employment.
        p
          | For over 2 decades I have worked with a variety of teams to design and build sites that address business and user needs. I manage sites in higher ed and have maintained sites in the nutritional supplement industry as well. I strive to create usable, polished and performant products through agile workflow, passionate and deliberate design.
        p
          | I live in Kankakee Illinois. I enjoy music, oil painting, and single malt whiskey.
        p
          | Contact me or reach out via
          a(href='https://www.linkedin.com/in/rogerehmpke', target='_blank', rel='noopener') LinkedIn
          |  or
          a(href='#ContactMe') send an email
          | .
