/* @todo refactor the hell out of this */


@media only screen and (max-width: 919px) {
  .mailing-list .row {
    padding-top: 10px;
  }
  .mailing-list .row:before {
    top: -55px;
    left: 50%;
    margin-left: -30px;
  }
}

.mailing-list {
  padding-bottom: 25px;
  padding-top: 25px;
  font-family: $basefont-stack;
  color: #555555;
  background: #fdcc52; background: -webkit-linear-gradient(#fdcc52, #fdc539); background: linear-gradient(#fdcc52, #fdc539);
}

.mailing-list label {
  font-size: 13px;
  padding-left: 13px;
}
