//fall back font stack for site
$basefont-stack: 'Source Sans Pro', Verdana, sans-serif;
$base-font-size: 18px;
$secondaryfont-stack: 'Roboto Slab', serif;

//Image path for most of global style sheet
$imagedir:'../img/';

//Theme colors
$primary-color: #3b4874;
$secondary-color: #813a59;
$accent-1: #fdcc52;        // used in all links and link buttons;
$accent-2: #dc2430;

// Standard palette, greys
$black: #000;
$grey-1: #404040;
$grey-2: #727272;
$grey-3: #BFBFBF;
$grey-4: #ccc;
$grey-5: #D8D8D8;
$grey-6: #eee;
$grey-7: #F2F2F2;
$white: #fff;

// Semantic colour names
$link-colour: $primary-color;
$link-active-colour: $primary-color;
$link-hover-colour: $grey-3;
$link-visited-colour: $grey-2;
$button-colour: $primary-color;
$button-hover-colour: $secondary-color;
$body-text: $grey-1;
$text-color: $grey-2;                // Standard text colour
$text-secondary-color: $white;      // Text colour used in most buttons
$border-colour: $grey-2;             // Borders, seperators, rules, keylines etc.
$panel-colour: $grey-3;            // Related links panel, page footer etc.
$canvas-colour: $grey-4;             // Page background
//$highlight-colour: $grey-4;        // Table stripes etc.
//$page-colour: $white;              // The page

$divider-color: $grey-5;
$hero-links: $accent-1;
