.btn-primary {
  background-color: $button-colour;
  border-radius: 23px;
  border-color: $button-colour;
  color: #242c47;
}

.btn-primary:hover {
  background-color: $button-hover-colour;
  border-color: $button-hover-colour;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 20px;
}