section#Skills.skills
  .container
    .row.space-top
      .col.text-center
        h2.section-heading(style='color:#333333;') Skills
        hr.primary
        h3 I know...
        p
          | JAVASCRIPT, JQUERY, GITHUB, GIT, GULP, SASS, CSS, HTML,
          | TERMINAL, RESPONSIVE, BEM
