section#Skills.skills
  .container
    .row.space-top
      .col.text-center
        h2.section-heading(style='color:#333333;') Skills
        hr.primary
        h3.skills-known I know...
        ul.skills-list
          li
            span.skill-label LANGUAGES:
            |  JAVASCRIPT, CSS, SASS, HTML, BASH
          li
            span.skill-label LIBRARIES:
            |  JQUERY, LODASH
          li
            span.skill-label SERVERS:
            |  NODEJS, NGINX

