.container
  .row.space-top.space-bottom
    .col.text-center
      h2.section-heading(style='color:#333333;') Work
      p
        | Some things I've been working on...
      hr.primary
      br
.work__projectdiv.work__kcc.container
    .row
      .work__projectimgdiv__imgdiv.col-lg-6.col-md-6
        img(src='/img/kcc-screen.png' width="90%" alt='computer screen with an image of kcc redesign project')
      .work__projectdiv__description.col-lg-6.col-md-6.text-center
        h3 Kankakee Community College
        p
          | Develop and Architect a user experience for editors and users.
        .work__projectdiv__languagebar
          p.label_language JAVASCRIPT
          p.label_language JEKYLL
          p.label_language RESPONSIVE
          p.label_language CSS/SASS
          p.label_language HTML
          p.label_language COLLABORATIVE
          p.label_language GULP
          p.label_language CSS/SASS
          p.label_language HTML
        .view_live_div
          a.btn.btn-lg.btn-primary.btn-block.buttonlink.view_live(href='http://www.kcc.edu' target='_blank' rel='noopener noreferrer') VIEW LIVE
.work__projectdiv.container
  .row.space-bottom.double
    .work__projectimgdiv__imgdiv.col-lg-6.col-md-6
      img(src='/img/kcc-screen.png' width="90%" alt='computer screen with an image of Economic Alliance of Kankakee project')
    .work__projectdiv__description.col-lg-6.col-md-6.text-center
      h3 Economic Alliance of Kankakee County
      p
        | Redesign there site and provide a better editing experince for the Alliance
      .work__projectdiv__languagebar
        p.label_language WORDPRESS
        p.label_language JAVASCRIPT
        p.label_language JQUERY
        p.label_language RESPONSIVE
        p.label_language CSS/SASS
        p.label_language HTML
      .view_live_div
