.hero-shot {
  color: $text-secondary-color;
  background: linear-gradient(to left, #3b4874, #dc2430);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 300%;
}

a {
  color: $hero-links-colour;
}

a:hover { 
  color: $hero-links-hover-colour;
}
