.hero-shot {
  color: $text-secondary-color;
  background: linear-gradient(to left, rgba(59, 72, 116, 0.1), rgba(220, 36, 48, 0.8)), url(/img/bg-code.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 300%;
}

.hero-shot a {
  color: $hero-links-colour;
}

.hero-shot a:hover {
  color: $hero-links-hover-colour;
}
